# Ignore generated directories
ios/* linguist-generated
android/* linguist-generated
build/* linguist-generated
windows/* linguist-generated
macos/* linguist-generated

# Dart should be detected
*.dart linguist-language=Dart